.page-about {
  //position: relative;
  height: 100%;
  overflow: hidden;
}

.mission-space {
  height: 600px;
  width: 100%;
  background-image: url("metro-woman.jpg");
  background-size: cover;
  background-position: center;
}

.about-header {
  padding-top: 80px;
  color: white;
  font-size: 24px;
}

.about-name {
  color: white;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 10px;
}

@media screen and (max-width: 2400px) {
  .circles-about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mission-space {
    height: 600px;
  }
}

@media screen and (max-width: 678px) {
  .circles-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mission-space {
    height: 900px;
  }
}

#about-mission-circle {
  position: relative;
  background-color: rgba(255,255, 255, 0.8);
  width: 320px;
  height: 320px;
  border: 1px solid #003D32;
  border-radius: 50%;
  //top: 200px;
  //left: 70px;
  font-size: 14px;
  margin: 10px;
 }

 #about-vision-circle {
  background-color: rgba(255,255, 255, 0.8);
  position: relative;
  //top: 200px;
  //left: 400px;
  width: 320px;
  height: 320px;
  border: 1px solid #003D32;
  border-radius: 50%;
  font-size: 14px;
  margin: 10px;
 }

#about-share-circle {
  position: absolute;
  top: 285px;
  left: 348px;
  width: 150px;
  height: 150px;
  background-color: $purplevisible;
  border-radius: 50%;
  color: #322343;
  z-index: 1;
}

.border-circle-about1 {
  margin-top: -35px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #003D32;
  z-index: 1;
}

.border-circle-about2 {
  margin-bottom: -67px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #003D32;
  z-index: 1;
}

.about-share {
  position: absolute;
  width: 118.5px;
  left: 15px;
  top: 30px;
}

.social-media-links {
  position: absolute;
  width: 118.5px;
  left: 15px;
  top: 83px;
  font-size: 24px;
  a {
    color: #322343;
  }
  a:hover {
    color: #003D32;
    text-decoration: none;
  }
}

.mission-text {
  position: absolute;
  width: 230px;
  left: 47px;
  top: 56px;
  color: #003D32;
}

.vision-text {
  position: absolute;
  width: 280px;
  left: 22px;
  top: 56px;
  color: #003D32;
  width: 273px;
}

.other-support-section {
  background-color: $purplevisible;
  color: #003D32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-header {
  font-size: 24px;
  color: #003D32;
  padding-top: 30px;
}

.support-item {
  padding: 20px 20px;
  width: 370px;
}

.support-text-left {
  p {
  padding-left: 7px;
  padding-top: 10px;
  margin: 0;
  }
  a {
    color: #003D32;
  }
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  padding: 20px;
  color: #003D32;
}

.faq-question {
  font-size: 20px;
  font-weight: 100;
}

.faq-answer {
  padding: 0 10px;
  max-width: 800px;
}

