.page-about {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.about-page {
  width: 100%;
}

.circle-space {
  height: 850px;
  width: 520px;
  position: relative;
}

.about-header {
  padding-top: 50px;
  color: #003D32;
  font-size: 24px;
}

.about-name {
  color: #003D32;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 10px;
}

@media screen and (max-width: 2400px) {
  .circle-space {
    left: 34vw;
  }
}

@media screen and (max-width: 1700px) {
  .circle-space {
    left: 28vw;
  }
}

@media screen and (max-width: 1200px) {
  .circle-space {
    left: 19vw;
  }
}

@media screen and (max-width: 800px) {
  .circle-space {
    left: 4vw;
  }
}

@media screen and (max-width: 550px) {
  .circle-space {
    left: -17vw;
  }
}

@media screen and (max-width: 425px) {
  .circle-space {
    left: -33vw;
  }
}

#about-mission-circle {
  position: absolute;
  width: 360px;
  height: 360px;
  border: 1px solid #003D32;
  border-radius: 50%;
  top: 40px;
  left: 70px;
 }

 #about-vision-circle {
  position: absolute;
  top: 400px;
  left: 168px;
  width: 360px;
  height: 360px;
  border: 1px solid #003D32;
  border-radius: 50%;
 }

#about-share-circle {
  position: absolute;
  top: 285px;
  left: 348px;
  width: 150px;
  height: 150px;
  background-color: $purplevisible;
  border-radius: 50%;
  color: #322343;
  z-index: 1;
}

.border-circle-about1 {
  margin-top: -35px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #003D32;
  z-index: 1;
}

.border-circle-about2 {
  margin-bottom: -67px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #003D32;
  z-index: 1;
}

.about-share {
  position: absolute;
  width: 118.5px;
  left: 15px;
  top: 30px;
}

.social-media-links {
  position: absolute;
  width: 118.5px;
  left: 15px;
  top: 83px;
  font-size: 24px;
  a {
    color: #322343;
  }
  a:hover {
    color: #003D32;
    text-decoration: none;
  }
}

.mission-text {
  position: absolute;
  width: 230px;
  left: 66px;
  top: 52px;
  color: #003D32;
}

.vision-text {
  position: absolute;
  width: 280px;
  left: 40px;
  top: 52px;
  color: #003D32;
}

.other-support-section {
  background-color: $purplevisible;
  color: #003D32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-header {
  font-size: 24px;
  color: #003D32;
  padding-top: 30px;
}

.support-item {
  padding: 20px 20px;
  width: 370px;
}

.support-text-left {
  p {
  padding-left: 7px;
  padding-top: 10px;
  margin: 0;
  }
  a {
    color: #003D32;
  }
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  padding: 20px;
  color: #003D32;
}

.faq-question {
  font-size: 20px;
  font-weight: 100;
}

.faq-answer {
  padding: 0 10px;
  max-width: 800px;
}
