.header {
  color: #005243;
  letter-spacing: 10px;
  padding-top: 50px;
  font-weight: normal;
}

.subheader {
  color: #005243;
  line-height: 2.0;
  font-weight: 300;
  margin: 30px 0;
}

.container {
  // margin: 25px auto;
  padding: 0px 40px;
  // justify-text: center;
  justify-content: center;
  // height: 100vh;
}

.intro-text {
  width: 300px;
}

@media screen and (max-width: 1600px) {
  .header {
    font-size: 70px;
  }

  .subheader {
    font-size: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: 52px;
  }
  .subheader {
    font-size: 25px;
  }
}

#circle {
    background: #CBBCDC;
    border-radius: 50%;
    width: 440px;
    height: 440px;
    z-index: -1;
    opacity: 90%;
    // position: absolute;
    // top: 10px;
    // left: 200px;
}

#small-circle {
    background: #CBBCDC;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    z-index: -1;
    opacity: 90%;
    // border-color: #322343;
    // position: absolute;
    // top: 500px;
    // left: -60px;
}

.protest-button {
  font-family: $body-font;
  color: white;
  padding: 12px 22px;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 350;
  background-color: #322343;
  margin: 22px 0px 0px 0px;
  z-index: 4;
  border: none;
  transition: color 2s linear;
}

// .protest-button:active {
// //   background-color: ;
// //   color: ;
// // }

.button-div {
  text-align: center;
  // height: 200px;
}

