.list-protests {
  width: 100%;
  background-color: #003D32;
  padding: 10px;
}

body {
  padding-top: 0px;
}

.protest-description {
  color: $light-gray;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  font-weight: light;
  font-family: $headers-font;
  font-weight: 200;
  padding: 0px 15px;
}

.protest-station {
  font-weight: 200;
  font-family: $headers-font;
  color: $light-gray;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0px 15px;
}

.full-description {
  font-family: $body-font;
  font-weight: 200;
  color: $light-gray;
  padding: 0px 20px;
}

.protest-info {
  padding: 0px 20px;
}

.protest-details {
  font-family: $body-font;
  font-weight: 500;
  color: rgba(203, 188, 220, 1);
  padding: 0px 20px;
}

.map-container {
  margin-top: 0px;
  position: relative;
  z-index: 12;
}

.center-bottom {
  position: absolute;
  left: 50%;
  z-index: 13;
  top: 85%;
  margin-left: -106px;
  font-family: $body-font;
  color: #322343;
  padding: 10px 14px;
  border-radius: 10px;
  border-color: #CBBCDC;
  border-width: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.index-buttons {
  display: flex;
  justify-content: space-between;
}

.section {
  position: relative;
  width: 100%;
}

.section::before {
  animation: arrowBounce 1.5s ease infinite;
  bottom: 2rem;
  color: lightgrey;
  content: '╲╱';
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes arrowBounce {
  50% {
    transform: translateY(-25%);
  }
}
