.flex-50 {
  display: flex;
}

.flex-50 > div, .flex-50 > input {
  flex-basis: 50%;
  margin-bottom: 10px;
}

.experience-label {
  width: 100%;
  text-align: center;
}

#select-station-container {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 10px;
  height: 32px;
  color: $deepgreen;
}

#select-station-container select {
  width: 100%;
}

.all-new-wrapper {
  background-color: $purplevisible;
  display: flex;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
}

// .containing-circle {
//   position: absolute;
// }

// #circle-form-new {
//   // bottom: -222px;
//   // left: 150px;
//   position: fixed;
//   left: 150px;
//   bottom:-180px;
//   background: $deepgreen;
//   border-radius: 50%;
//   width: 400px;
//   height: 400px;
//   z-index: 1;
//   overflow: hidden;
// }

.form-protest {
  margin-top: 15px;
  position: relative;
  z-index: 2;
    h1 {
      color: $deepgreen;
      font-size: 24px;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 15px;
      font-weight: 650;
    }
}

#form_protest input {
  width: 100%;
}

.experienced-select {
  display: flex;
  justify-content: space-around;
}


.no-label {
  display:none;
}

.form-check-experienced-input {
  display: none
}

.form-check-experienced-label {
  border: 1px solid #DDD;
  color: $deepgreen;
  background-color: white;
  border-radius:10px;
  padding: 8px 8px;
  margin-top: 10px;
  position:relative;
  &:hover {
  background-color: $deepgreen;
  color: white;
  }

}

.active {
  background-color: $deepgreen;
  color: white;
}

.form-group .select .required .protest-station label {
  display: none;
}

.simple_form div.input:focus {
    border-color: transparent;
}

.row  {
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  width:12em;
}

// .form-check {
//   display: block;
//   position: relative;
//   color: $deepgreen;
// }

.checkbox{
  display: none;
}
.label{
  position: relative;
  font-family: $body-font;
  display: block;
  padding-left: 40px;
  font-size: 18px;
  user-select: none;
  margin: 10px 20px;
  color: $deepgreen;
}
.check-mark{
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  left:0;
  display: inline-block;
  top: 0;
  border-radius: 50%;
}
.label .checkbox:checked + .check-mark{
  background-color: $deepgreen;
  transition: .1s;
}

input[type="checkbox"]{
    outline:2px solid grey;
    outline-offset: -2px;
}

// .checkmark:hover {
//   background-color: #ccc;
// }

// .form-check lable {
//  padding-left: 4px
// }

.form-control {
  border-radius: 10px;
  color: $deepgreen;
  padding-right: 16px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.protest-btn {
  font-family: $body-font;
  color: white;
  padding: 12px 22px;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 350;
  background-color: #322343;
  margin: 20px 0px 0px 0px;
  z-index: 4;
  border: none;
  transition: color 2s linear;
}

// .protest-btn:active {
//   background-color: #003D32;
//   color: white;
// }

.assault-options1 {
  text-align: center;
}

.description-box {
  margin-top: 10px;
}
