.flex-50 {
  display: flex;
}

.flex-50 > div, .flex-50 > input {
  flex-basis: 50%;
  margin-bottom: 10px;
}

.experience-label {
  width: 100%;
  text-align: center;
}

#select-station-container {
  width: 100%;
}

#select-station-container select {
  width: 100%;
}

.all-new-wrapper {
  background-color: $purplevisible;
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

#circle-form-new {
  position: absolute;
  bottom: -222px;
  left: 150px;
  background: $deepgreen;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.form-protest {
  margin-top: 15px;
  position: relative;
  z-index: 2;
    h1 {
      color: $deepgreen;
      font-size: 24px;
      text-align: center;
      margin-bottom: 15px;
    }
}

#form_protest input {
  width: 100%;
}

.experienced-select {
  display: flex;
  justify-content: space-around;
}


.no-label {
  display:none;
}

.form-check-experienced-input {
  display: none
}

.form-check-experienced-label {
  border: 1px solid #DDD;
  color: $deepgreen;
  background-color: white;
  border-radius:5px;
  padding:10px;
  margin-top:10px;
  position:relative;
  &:hover {
  background-color: $deepgreen;
  color: white;
  }
  &.active {
  background: $deepgreen;
  color: white;
  }
}

.form-group .select .required .protest-station label {
  display: none;
}

.simple_form div.input:focus {
    border-color: transparent;
}

.row  {
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  width:12em;
}

.form-check {
  display: block;
  position: relative;
  color: $deepgreen;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin: 0px;
  border-radius: 2px;
}

input[type="checkbox"]{
    outline:2px solid grey;
    outline-offset: -2px;
}

// input[type='checkbox']{
//   width: 25px !important;
//   height: 25px !important;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -o-appearance: none;
//   appearance:none;
//   outline: 2px solid lightblue;
//   box-shadow: none;
//   font-size: 2em;
// }

.checkmark:hover {
  background-color: #ccc;
}

.form-check lable {
 padding-left: 4px
}

.form-control {
  border-radius: 5px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.protest-btn {
  font-family: $body-font;
  color: $deepgreen;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  background-color: $purplevisible;
  z-index: 2;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.20);
}

.assault-options1 {
  text-align: center;
}

.description-box {
  margin-top: 10px;
}
