.flex-50 {
  display: flex;
}

.flex-50 > div, .flex-50 > input {
  flex-basis: 50%;
  margin-bottom: 10px;
}

.experience-label {
  width: 100%;
  text-align: center;
}

#select-station-container {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 10px;
  height: 32px;
  color: $deepgreen;
}

#select-station-container select {
  width: 100%;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
  padding-top: 5px;
}

.all-new-wrapper {
  background-color: $purplevisible;
  display: flex;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
}

h3 {
  text-align: center;
  color: $deepgreen;
  font-size: 14px;
  font-weight: 650;
}

.form-protest {
  margin: 77px 10px 20px 10px;
  position: relative;
  z-index: 2;
  font-size: 14px;
    h1 {
      color: $deepgreen;
      font-size: 18px;
      text-align: center;
      margin-top: 33px;
      margin-bottom: 15px;
      font-weight: 650;
    }
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding-left: 30px;
  padding-right: 30px;
  max-width: 95%;
}

#form_protest input {
  width: 100%;
}

.experienced-select {
  display: flex;
  justify-content: space-around;
}

.no-label {
  display:none;
}

.form-check-experienced-input {
  display: none;
  // opacity: 0;
}

.form-check-experienced {
 input:checked + label {
  background-color: $deepgreen;
  color: white;
  }
}

.form-check-experienced-label {
  border: 1px solid #DDD;
  color: $deepgreen;
  background-color: white;
  border-radius:10px;
  padding: 8px 8px;
  margin-top: 10px;
  position:relative;
}


.form-group .select .required .protest-station label {
  display: none;
}

.simple_form div.input:focus {
    border-color: transparent;
}

.row  {
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  width:12em;
}

.checkbox{
  display: none;
}

.label {
  position: relative;
  font-family: $body-font;
  display: block;
  padding-left: 30px;
  font-size: 14px;
  user-select: none;
  margin: 5px;
  color: $deepgreen;
}
.check-mark{
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  left:0;
  display: inline-block;
  top: 5px;
  border-radius: 50%;
  border: solid 0.5px grey;
}
.label .checkbox:checked + .check-mark{
  background-color: $deepgreen;
  transition: .1s;
}

input[type="checkbox"]{
    outline:2px solid grey;
    outline-offset: -2px;
}

// .checkmark:hover {
//   background-color: #ccc;
// }

// .form-check lable {
//  padding-left: 4px
// }

.form-control {
  border-radius: 10px;
  color: $deepgreen;
  padding-right: 16px;
  font-size: 14px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.protest-btn {
  font-family: $body-font;
  color: white;
  padding: 10px 18px;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 350;
  background-color: #322343;
  margin: 10px 0px 20px 10px;
  z-index: 4;
  border: none;
  transition: color 2s linear;
}

.description-box {
  margin-top: 10px;
}

.other-field {
  flex-grow: 1;
  width: 100%;
  margin-left: 20px;
}

.other_category-input {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .assault-category-name {
    font-size: 14px;
  }
  .other-category-name {
    font-size: 14px;
  }
}

.select2-results {
    height: 320px;
    overflow: scroll;
}
