.support-page {
  font-size: 16px;
  color: $deepgreen;
  position: relative;
  height: 100%;
}

.support-btn {
  width: 265px;
  color: white;
  border-radius: 5px;
  background-color: rgb(50, 35, 67);
  border: none;
}

.support-header {
  padding-top: 50px;
}
