.support-page {
  font-size: 16px;
  color: $deepgreen;
  position: relative;
}

.support {
  height: 100vh;
}

.support-btn {
  width: 200px;
  color: rgb(50, 35, 67);
  border-radius: 35px;
  background-color: white;
  border: solid 1px rgb(50, 35, 67);
  font-size: 14px;
}

.support-large-btn {
  width: 265px;
  color: white;
  border-radius: 35px;
  background-color: rgb(50, 35, 67);
  border: none;
  font-size: 18px;
}

.support-header {
  padding-top: 80px;
}

.support-name {
  color: $deepgreen;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 10px;
}
