<div id="footer">
  <div class="flex col-8 col-lg-3 align-items-center">
    <i class="far fa-envelope icon-margin"></i>
    <p class="no-margin">info@im-visible.com</p>
  </div>
  <div class="flex col-3 justify-content-center align-items-center d-none d-md-none d-lg-flex">
    <i class="far fa-copyright icon-margin"></i>
    <p class="no-margin">2020 i<strong>m</strong>visible</p>
  </div>
  <div class="col-4 col-lg-3 flex justify-right align-items-center icons">
    <a href="https://twitter.com/imvisible_mx" class="fab fa-twitter icon-margin" target="_blank"></a>
    <a href="https://www.instagram.com/_imvisible/" class="fab fa-instagram icon-margin" target="_blank"></a>
  </div>
</div>
