<div class="imvisible-navbar dropdown sticky-top">
  <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <%= link_to "Home", root_path, class: "dropdown-item" %>
      <%= link_to "Map", protests_path, class: "dropdown-item" %>
      <%= link_to "Protest", new_protest_path, class: "dropdown-item" %>
    </div>
</div>

