<div class="imvisible-navbar dropdown sticky-top">
  <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <%= link_to "- Protests", "#", class: "dropdown-item" %>
      <%= link_to "- About us", "#", class: "dropdown-item" %>
    </div>
</div>

