<div class="all-new-wrapper">
  <div class="container">
    <div class="form-protest">
      <div class="form-protest-body">
        <h1>Incident Information</h1>
          <%= render "form", protest: @protest %>
      </div>
    </div>
      <div id="circle-form">
    </div>
  </div>
</div>
