<div class="all-new-wrapper">
  <div class="container">
    <div class="form-protest">
      <div class="form-protest-body">
        <h1>INCIDENT INFORMATION</h1>
          <%= render "form", protest: @protest %>
      </div>
    </div>
  </div>
  <div class="containing-circle style="position:absolute;">
   <div id="circle-form-new" style="position:fixed; left:150px; bottom:-180px;">
    </div>
  </div>
</div>
