<div class="container-fluid page-about bg-white m-0 p-0">
  <div class="about-page">
    <h1 class="about-header text-center">ABOUT</h1>
    <h1 class="about-name text-center">i<strong>m</strong>visible</h1>
  </div>
  <div class="circle-space">
    <div id="about-mission-circle">
      <p class="mission-text text-center"><strong>MISSION</strong><br>i<strong>m</strong>visible is a platform that invites women to protest against sexual harassment on public transport. We feel that since incidents of harassment happen every day, women should have the opportunity to raise their hand every day.</p>
    </div>
    <div id="about-share-circle">
      <p class="about-share text-center">follow i<strong>m</strong>visible:</p>
      <div class="social-media-links text-center">
        <a href="https://twitter.com/imvisible_mx" class="fab fa-twitter" target="_blank"></a>
        <a href="https://www.instagram.com/_imvisible/" class="fab fa-instagram" target="_blank"></a>
      </div>
    </div>
    <div id="about-vision-circle">
      <p class="vision-text text-center"><strong>VISION</strong><br>We believe it is necessary that women feel safe and empowered to share daily abuse. With every protest we are a little bit closer in demonstrating the magnitude of the problem. The data that is collected through i<strong>m</strong>visible is first and foremost used to visualize and quantify the issue.</p>
    </div>
  </div>
  <div class="other-support-section text-center m-0 pl-3 pr-3 pt-3 pb-5" id="support-section">
    <h1 class="support-header text-center pt-5 pb-3">OTHER SITES OF INTEREST</h1>
    <div class="row">
      <div class="support-item">
        <img src="https://images.unsplash.com/photo-1547937084-4d587301a545?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&h=1500&q=80" class="avatar-large">
        <div class="support-text-left">
          <p><strong>WOMEN'S RIGHTS</strong></p>
          <a href="https://mexico.unwomen.org/en"><p><em>UN Women, Mexico</em></p></a>
          <a href="https://www.semujeres.cdmx.gob.mx/"><em><p>Secretaría de las Mujeres, CDMX</p></em></a>
        </div>
      </div>
       <div class="support-item">
        <img src="https://images.unsplash.com/photo-1539541417736-3d44c90da315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&h=1500&q=80" class="avatar-large">
        <div class="support-text-left">
          <p><strong>SUPPORT</strong></p>
          <a href="https://www.metro.cdmx.gob.mx/tramites-y-servicios/servicios/que-hacer-en-caso-de-acoso-sexual"><p><em>What to do in case of sexual assault on public transport in CDMX</em></p></a>
          <a href="https://www.fgjcdmx.gob.mx/nuestros-servicios/en-linea/mp-virtual/centros-de-justicia-para-las-mujeres"><p><em>Justice Centers for Women</em></p></a>
        </div>
      </div>
      <div class="support-item">
        <img src="https://images.unsplash.com/photo-1551406483-3731d1997540?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&h=668&q=80" class="avatar-large">
        <div class="support-text-left">
          <p><strong>READ MORE</strong></p>
          <a href="https://www.reuters.com/article/us-transport-women-poll-mexico/exclusive-mexico-citys-transport-ranked-as-most-dangerous-for-women-global-poll-idUSKCN1NK059"><p><em>"Mexico City's transport ranked as most dangerous for women"</em></p></a>
          <a href="https://www.londonreconnections.com/2019/mind-the-gender-gap-the-hidden-data-gap-in-transport/"><p><em>"Mind the gender gap: the hidden data gap in transport"</em></p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="faq-section" id="section-faq">
    <h1 class="support-header text-center pt-5 pb-3">FAQ</h1>
    <div class="faq-item">
      <h1 class="faq-question" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">WHAT WILL HAPPEN WITH MY PROTEST?</h1>
      <p class="collapse show faq-answer" id="collapseExample1">Your protest helps us get one step closer to addressing the problem of sexual harassment on public transport. It is completely anonymous and you can share as much about the incident as you like. After protesting your protest will be visible on the map and in our list of protests.</p>
    </div>
    <div class="faq-item">
      <h1 class="faq-question" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">HOW CAN I GET INVOLVED?</h1>
      <p class="collapse show faq-answer" id="collapseExample2">If you experienced or witnessed sexual assault on Mexico City’s public transport, we invite you to protest. This is the most effective way of making the problem visible. You can also share i<strong>m</strong>visible on your Facebook or Twitter or follow us on Twitter and Instagram.</p>
    </div>
    <div class="faq-item">
      <h1 class="faq-question" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">CAN I GET PSYCHOLOGICAL HELP ON IMVISIBLE?</h1>
      <p class="collapse show faq-answer" id="collapseExample3">i<strong>m</strong>visible is a platform for protest. If you experienced sexual assault and you need counseling, we advice you to seek professional help.</p>
    </div>
    <div class="faq-item">
      <h1 class="faq-question" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">WILL IMVISIBLE BECOME AVAILABLE IN OTHER CITIES?</h1>
      <p class="collapse show faq-answer" id="collapseExample4">i<strong>m</strong>visible was launched in Mexico City, but women worldwide suffer from sexual assault on public transport. We aim to make i<strong>m</strong>visible available in more cities in the future. If you want to reach out to have a conversation to implement i<strong>m</strong>visible in your city, contact us on Instagram or Twitter.</p>
    </div>
  </div>
</div>

