<div class="container vh-100">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-6">
      <div>
        <h1 class="header animate__animated animate__fadeIn text-center">i<strong>m</strong>visible</h1>
      </div>
      <div id="circle" style="position:fixed; left:150px; top:-18px;">
      </div>
      <div id="small-circle" style="position:fixed; right:260px; top:490px;">
      </div intro-text>
        <h2 class="subheader animate__animated animate__fadeIn text-center">SEXUAL HARRASMENT HAPPENS EVERY DAY AND IT GOES UNNOTICED.<br><strong>NOT ANYMORE.</strong><br><br>DID YOU EXPERIENCE OR WITNESS AN INCIDENT ?</h2>
        <div class="button-div animate__animated animate__pulse animate__slower animate__infinite"><a href="protests/new"><button type="button" class="protest-button">Protest Now</button></a>
      </div>
    </div>
  </div>
</div>



