<div class="container">
    <div>
      <h1 class="header animate__animated animate__fadeIn">i<strong>m</strong>visible</h1>
    </div>
    <div id="circle" style="position:fixed; left:96px; top:-20px;">
    </div>
    <div id="small-circle" style="position:fixed; right:260px; top:490px;">
    </div>
    <div>
      <h2 class="subheader animate__animated animate__fadeIn">SEXUAL HARRASMENT <br> HAPPENS EVERY DAY <br> AND IT GOES <br> UNNOTICED / DID YOU <br> EXPERIENCE OR WITNESS AN INCIDENT ?<h2>
    </div>
</div>
  <div class="button-arrow">
    <div class="button-div animate__animated animate__fadeIn"><a href="protests/new"><button type="button" class="protest-button">PROTEST</button></a>
    </div>
    <div class="arrow-position" style = "position:relative; top:-71px;>
      <p class="animate__animated animate__pulse"><i class="arrow up"></i></p>
</div>

