<div class="container-fluid support">
 <div class="about-page">
    <h1 class="about-header text-center">SUPPORT</h1>
    <h1 class="about-name text-center">i<strong>m</strong>visible</h1>
  </div>
  <div class="mt-4 col-9 col-md-6 col-lg-4 container-fluid">
    <p class="text-justify"><em>i<strong>m</strong>visible</em> would not exist without the brave women who protest on our platform. We are so proud to continue to create a space where women can raise their hand. Help us and these women by addressing the problem and making a change.</p>
    <p class="text-justify">Soon we will start a donation campaign to keep <em>i<strong>m</strong>visible</em> alive. In the meantime, join us on Instagram or Twitter to hear about our steps to creating a safer public transport. </p>
  </div>
  <div class="mt-4 col-sm-8 col-md-6 container-fluid text-center">
    <a href="mailto:info@im-visible.com?subject=Quiero ser una embajadora"><button class="support-btn pt-2 pb-2">BECOME AN EMBASSADOR</button></a>
    <br>
    <a href="https://twitter.com/imvisible_mx"><button class="mt-3 support-btn pt-2 pb-2">FOLLOW US ON TWITTER</button></a>
    <br>
    <a href="https://www.instagram.com/_imvisible/"><button class="mt-3 support-btn pt-2 pb-2">FOLLOW US ON INSTAGRAM</button></a>
  </div>
</div>
<%= render 'shared/footer' %>
