.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #CBBCDC;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 25px;
  margin: 100px;
  color: #322343;
}

.flash-success {
  border: 2px solid #322343;
}

