.flash {
  padding: 16px 16px;
  position: absolute;
  left: 50%;
  margin-left: -115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #CBBCDC;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 25px;
  color: #322343;
  text-align: center;
  width: 230px;
  margin-bottom: 70%
}

.flash-success {
  border: 2px solid #322343;
}

