.modal-content {
  background-color: rgba(2, 61, 50, 0.95);
  align-items: center;
  padding: 10px;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: white;
}

.modal-header {
  border: none;
}

.modal-title {
  font-size: 16px;
  color: #003D32;
}

.modal-footer {
  border: none;
}

.see-results {
  margin-top: 20px;
  background-color: white;
  color: #322343;
  padding: 10px 18px;
  border-radius: 30px;
}

.filter-container {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: solid 1px #CBBCDC;
}

.search_station {
  width: 270px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  color: #322343;
}

.search_category {
  width: 270px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  color: #322343;

}

.filter-text {
  color: #CBBCDC;
  font-weight: 500;
  font-size: 24px;
  margin-top: 10px;
}

#start_date_year {
  padding: 8px 4px;
  border-radius: 10px;
  margin-right: 11px;
}

#start_date_month {
  padding: 8px 4px;
  border-radius: 10px;
  margin-right: 11px;
}

#start_date_day {
  padding: 8px 4px;
  border-radius: 10px;
}

.all-protests {
  width: 315px;
  margin: 0 auto;
}

.restore-link {
  font-size: 12px;
  color: grey;
}
