.modal-content {
  background-color: rgba(2, 61, 50, 0.95);
  align-items: center;
  padding: 10px;
}

@media (min-width: 620px) {
  .modal-dialog {
    max-width: 600px;
  }
  .all-protests {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 619px) {
  .all-protests {
    width: 315px;
    margin: 0 auto;
  }
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: white;
}

.modal-header {
  border: none;
}

.modal-title {
  font-size: 16px;
  color: #003D32;
}

.modal-footer {
  border: none;
}

.see-results {
  margin-top: 15px;
  background-color: transparent;
  border-color: #CBBCDC;
  color: #CBBCDC;
  padding: 5px;
}

.filter-container {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: solid 1px #CBBCDC;
}

.search_station {
  width: 270px;
  margin-bottom: 10px;
  padding: 8px;
}

.search_category {
  width: 270px;
  margin-bottom: 10px;
  padding: 8px;
}

.filter-text {
  color: #CBBCDC;
}

#start_date_year {
  padding: 8px 4px;
}

#start_date_month {
  padding: 8px 4px;
}

#start_date_day {
  padding: 8px 4px;
}

// .all-protests {
//   width: 315px;
//   margin: 0 auto;
// }

.restore-link {
  font-size: 12px;
  color: grey;
}
