.fa-bars {
  color: $deepgreen;
  padding-top: 10px;
  margin-left: 10px;
  font-size: 24px;
}

.dropdown-item {
  color: $deepgreen;
  padding: 5px;
}

.absolute {
  position: absolute;
  z-index: 1000;
}

.overriding {
  position: sticky !important;
}

