.fa-bars {
  color: $deepgreen;
  // padding-top: 10px;
  // margin-left: 10px;
  font-size: 30px;
}

.dropdown-item {
  color: $deepgreen;
  padding: 5px;
}

.absolute {
  position: absolute;
  z-index: 1000;
}

.overriding {
  position: sticky !important;
}

.green {
  color: $deepgreen;
}

.padding-left {
  padding: 10px 0px 10px 5px;
}

.no-decoration:hover {
  color: $deepgreen;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  margin: 0px;
  width: 100%;
  background-color: rgba(100, 100, 100, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#title {
  margin: 0px;
  font-size: 26px;
  text-align: center;
  color: rgb(50, 35, 67);
}

.donate {
  border-radius: 35px;
  background-color: #005243;
  color: white;
  width: 100px;
}

.justify-left {
  display: flex;
  justify-content: flex-end;
}

.padding-none {
  padding: 0px;
}

.little-margin {
  margin: 10px 0px 0px 10px;
}
