.fa-bars {
  color: $deepgreen;
  // padding-top: 10px;
  // margin-left: 10px;
  font-size: 30px;
}

.dropdown-item {
  color: $deepgreen;
  padding: 5px;
}

.absolute {
  position: absolute;
  z-index: 1000;
}

.overriding {
  position: sticky !important;
}

.green {
  color: $deepgreen;
}

.padding-left {
  padding: 10px 0px 10px 5px;
}

.no-decoration:hover {
  color: $deepgreen;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  margin: 0px;
  width: 100vw;
  background-image: linear-gradient(white, rgba(196, 196, 196, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

#title {
  margin: 0px;
  font-size: 26px;
  text-align: center;
  color: rgb(50, 35, 67);
}

.donate {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(50, 35, 67);
  width: 120px;
  border-color: rgb(50, 35, 67);
  border-width: 1px;
  transition: 0.3s;
  font-weight: 200;
}

@media screen and (max-width: 2000px) {
  .donate {
    width: 120px;
  }
}

@media screen and (max-width: 800px) {
  .donate {
    width: 110px;
    font-size: 14px;
  }
}

.fa-heart {
  font-size: 14px;
}


.donate:hover {
  background-color: rgb(50, 35, 67);
  color: white;
  transition: 0.5s;
}

.justify-left {
  display: flex;
  justify-content: flex-end;
}

.padding-none {
  padding: 0px;
}

.little-margin {
  margin: 10px 0px 0px 10px;
}
